/* UNITS In CSS 

absolute 

pixels(px)

-96px = 1 inch
-font-size: 2px
*/

#p2{
    font-size: 25px;
    color: black;
}

#p3{
    font-size: 12px;
    color: black;
}

/* LINE HEIGHT 

line-height: 2px

line-height: normal
*/

#p4{
    line-height: 15px;
}

#p5{
    line-height: 60px;
}


